<ul class="nav nav-tabs">
    <li role="presentation">
         {{#link-to 'login' activeClass="active"}}Public{{/link-to}}
    </li>
    <li role="presentation"> {{#link-to 'login' activeClass="active"}}Private{{/link-to}}</li>
</ul>

{{outlet}}
